*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --BG-COLOR-BODY: #333;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--BG-COLOR-BODY);
}

button {
  cursor: pointer;
  padding: 5px;
}

.deleteBtn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.editBtn {
  margin-right: 5px;
  cursor: pointer;
}

.nameDisplay {
  font-size: 1.1rem;
  display: block;
  margin-bottom: 8px;
}