*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --BG-COLOR-BODY: #333;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--BG-COLOR-BODY);
}